:root {
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  background-color: #858585;
}

#bg-video {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -2;
}

#video-overlay {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('./gridiron.png');
  background-color: rgba(45, 51, 61, 0.5);
  background-size: cover;
}

.menu {
  width: 93%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.menu__slot {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 28%;
  position: relative;
  overflow: hidden;
}

.blackscreen {
  position: absolute;
  z-index: 2;
  background-color: rgb(43, 43, 43);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
}

.slot-item-1 {
  margin-top: 45vh;
}

.slot-item-2 {
  margin-top: 25vh;
}

.slot-item-3 {
  margin-top: 42vh;
}

.slot-item-4 {
  margin-top: 60vh;
}

.slot-item-5 {
  margin-top: 42vh;
}

.menu__slot:hover, .menu__slot:hover *[class^='slot-item-'] {
  justify-content: center;
  margin-top: 0 !important;
  flex-basis: 37vw;
  padding-top: 18vh;
  background-repeat: none;
  transition: flex-basis 100ms ease-in-out;
}

.menu__slot:hover div.blackscreen {
  animation: fadeOut .5s ease-in forwards;
}

.char {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.text {
  position: relative;
  z-index: 2;
}

.menu__slot:hover {
  cursor: pointer;
}

.menu__slot:hover div.char {
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.5);
  transition: transform 10s;
}

.menu__slot:nth-child(1):hover {
   background: linear-gradient(140deg, rgb(96, 39, 187), white, gray);
}

.menu__slot:nth-child(2):hover {
  background: linear-gradient(140deg, #d33, beige, green);
}

.menu__slot:nth-child(3):hover {
  background: linear-gradient(140deg, hotpink, lightblue, orange);
}

.menu__slot:nth-child(4):hover {
  background: linear-gradient(140deg, gold, lightyellow, lightskyblue);
}

.menu__slot:nth-child(5):hover {
  background: linear-gradient(140deg, forestgreen, lightblue, firebrick);
}

div.menu__slot:hover div.roy {
  background-image: url('./roy.png');
  background-position: 30% 0;
}

div.menu__slot:hover div.bowser {
  background-image: url('./bowser.png');
  background-position: 74% -220px;
}

div.menu__slot:hover div.zelda {
  background-image: url('./zelda.png');
  background-position: 30% 50px;
}

div.menu__slot:hover div.ness {
  background-image: url('./ness.png');
  background-size: contain;
}

div.menu__slot:hover div.fox {
  background-image: url('./fox.png');
  background-position: 40% 20%;
}


.menu__slot:hover > div > h3 {
  font-size: 2.45em;
  font-weight: bold;
  min-width: 80%;
  max-width: 80%;
  text-align: left;
  color: #79D9FF;
}

.menu__slot:hover > div > p {
  opacity: 1;
  padding: 0 8% 0 8%;
}

.menu__title, h3 {
  text-transform: uppercase;
  text-align: center;
  color: #45758C;
  background-color: rgba(45, 51, 61, 0.8);
  background-image: url('./led-grid.png');
  background-size: cover;
  padding: 3.6% 5%;
  font-size: 2em;
  font-weight: 300;
  min-width: 10vw;
  max-width: 10vw;
  margin-bottom: 0;
}


.menu__slot > div > p {
  color: #fff;
  line-height: 1.5em;
  opacity: 0;
}

@keyframes gradualZoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.4);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}